{% extends 'weather/base.html' %}

{% block content %}
<div class="row">
        <div class="col-12">
            <!-- Heading Text -->
            <div class="section-heading text-center">
                <h2>Earthquakes</h2>
                <div class="line-shape">continental reports</div>
            </div>
        </div>
    </div>

    <div>
    {% for gg in object_list%}
    <h1>{{gg.heading}}</h1>
    {% if gg.image %}
   <ol> <li><img src="{{gg.image.url}}" width="400" height="400">
    <li>{{gg.discription}}</li>
    </li>
    </ol>
    {% endif %}
    {% endfor %}
    
{% endblock %}