{% extends "weather/base.html" %}

{% block content%}

<section class="awesome-feature-area bg-white section_padding_0_50 clearfix" id="features">
        

        <div align="center" width="50%">

                <div class="row">
                        <div class="col-12">
                            <!-- Heading Text -->
                           
                            <div id="c">
                          <!-- <table> 
                           <tr>  
                               <td><h2>Search Your City</h2></td>
                                <td>   
                            <form method="post">
                                    {% csrf_token %}
                                <div class="contact_input_area">
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" id="name" size="15" placeholder="Enter City Name" required>
            
                                            </div>
                                        </div>
                                       
                                    </td><td> <div class="col-12">
                                            <a class="nav-link" href="#features"> <button type="submit" class="btn submit-btn" >Search</button></a>
                                        </div>
                                        </td>
                                    </tr>
                                    </div>        
                                </div>
                                
                            </form>           
                        </table>
                        <br> -->
                        <br><br>
                        <!-- {% if valid %} 
                        <div class="groove">
                        <table>
                                <tr>
                                        <th><h1><font color="green">city</font></h1></th>             
                                        <th><h1><font color="green">description</font></h1></th>
                                        <th><h1><font color="green">temprature</font></h1></th>          
                                        <th><h1><font color="green">snow</font></h1></th>
                                        <th><h1><font color="green">wind</font></h1></th>
                                        <th><h1><font color="green">country</font></h1></th>
                                        <th><h1><font color="green">rain</font></h2></th>
                                        <th><h1><font color="green">icon</font></h1></th>
                                      </tr>
                                            
            
                                    <tr>
                                    <td><h2>{{weather.city}}</h2></td>
                                    <td><h2>{{weather.des}}</h2></td>
                                    <td><h2>{{weather.temp}}°C</h2></td>
                                    <td><h2>{{weather.snow}}</h2></td>
                                    <td><h2>{{weather.wind}}(km/hr)</h2></td>
                                    <td><h2>{{weather.country}}</h2></td>
                                    <td><h2>{{weather.rain}}</h2></td>
                                    <td><ul><li><h2><img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                    </tr>
            
                                
                                </table>
                            </div>
                                {% else %} 
            
                                <div class="media-content">
            
                                    <div class="content">
            
                                        <p><h1><font color="red"> {{touser}} </font></h1></p>
                                    </div>
                                </div>
                                    {% endif %}
            </table> -->
                          
                            </div>



                            


       
    <!-- weather forecasting area start-->
<div class="container">
    <div class="section-heading text-center">
        <br><br><br><h2>Metro Cities..</h2>
            <div class="line-shape"><font size="3" color="red">INDIA</font></div>
        </div>
   
      <div class="panel panel-primary">
        <div class="panel-heading"><h1><font color="white">Weather</font></h1></div>
        <div class="panel-body">
            <table>
                <tr >
                  <th><h1><font color="green">City</font></h1></th>
                  <th><h1><font color="green">Temperature</font></h1></th>
                  <th><h1><font color="green">Climate</font></h1></th>
                </tr>
                {% for weather in weather.fourcity %}
                <tr>
                  <td><h2>{{ weather.city }}</h2></td>
                  <td><h2>{{ weather.temperature }}° F</h2></td>
                  <td><ul><li><h2><img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                  </h2></li><li><h2>{{ weather.description }}</h2></li></ul></td>
                </tr>
               {% endfor %}
              </table>
               
        </div>
      </div>
    </div>
 
</section>
{% endblock %}